#chart {
  width: 100%;
}

/* GRAPH */

// AXES
.axis path,
.axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}

.x.axis path {
  /*display: none;*/
}
.axis .caption {
  fill: #3D3D3D;
  font-weight: bold;
}
@media screen and (min-width: $break-point) {
  .axis .caption {
    font-size: 16px;
  }
}

// Lines
.line-group.faded {
  path, text {
    opacity: .2;
  }
}
.line {
    fill: none;
    stroke: #000;
    vector-effect: non-scaling-stroke;
}
.profession-line {
  .line {
    stroke: $theme-color;
    stroke-width: 2px;
  }
  .color-key {
    fill: $theme-color;
  }
}

$baseline-color: $color-dark-grey;
.baseline {
  .line {
    fill: none;
    stroke: $baseline-color;
    stroke-width: 1px;
    z-index: 999;
  }
  .color-key {
    fill: $baseline-color;
  }
}


// ANNOTATION

// Break even point
.break-even {
  circle {
    fill: #fff;
    stroke: $theme-color;
  }
}
@media screen and (min-width: $break-point) {
  .break-even {
    font-size: 20px;
  }
}


// The highlighted difference between baseline and profession
.difference {
  text {
    text-anchor: middle;
  }
  line {
    stroke-width: 1;
    stroke-dasharray: 4, 2;
  }
}
.difference.plus {
  line {
    stroke: rgb(25, 167, 25);
  }
}
.difference.minus {
  line {
    stroke: red;
  }
}

#legend {
  position: relative;
  top: 30px;
  left: 120px;
}

.sentence {
  padding: 10px;
  background: #f1f1f1;
  border-radius: 6px;
  display: block;
}

// Sidebar labels (desktop)
.label-group {
  line {
    stroke-dasharray: 2,2;
  }
}

// Handle inactive state (no selection)
.overlay {
  opacity: 0;
  display: none;
}
.no-selection {
  .overlay {
    opacity: 0.7;
    display: block;
  }
  .sentence {
    display: none;
  }
}


